@import "../../App.scss";

.methods {
  height: calc(100vh - 100px);
  overflow: hidden;
  background-color: white;
  position: relative;

  .methodwrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    padding: 0 70px;

    @include mobile {
      padding: 0 40px;
      margin-top: 100px;
    }


    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      @include mobile {
        height: 100%;
        width: 100%;
        // gap: 20px;
        align-items: center;
        text-align: center;

      }

      h2 {
        font-size: 30px;
        color: rgb(0, 0, 0);
        letter-spacing: 10px;
      
        @include mobile {
          font-size: 25px;
          letter-spacing: 5px;
          margin-top:170px;
        }
      }

      h1 {
        font-size: 88px;
        color: rgba(9, 9, 121, 1);

        @include mobile {
          font-size: 36px;
        }
      }

      p {
        font-size: 20px;
        color: rgb(150, 150, 150);

        @include mobile {
          font-size: 16px;
          text-align: justify;
        }
      }
    }
  }

  .methodimageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    padding: 70px;

    @include mobile {
      height: 0;
      width: 0;
      top: unset;
      bottom: 0;
      padding: 0 ;
      position: relative;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include mobile {
        // padding-top: 40px;
        margin-top: 30px;
        height: 50%;
        
      }
    }
  }
}
