
$primary-color: rgba(9, 9, 121, 1);
$light-color: gray;


@import "../../App.scss";

.testi-section {
  // height: calc(100vh - 100px);
  overflow: hidden;
  background-color: rgb(251, 251, 251);
  position: relative;
  height: 100vh;
  @include mobile {
    // padding: 0 10px;
    margin-top: 100px;
    // height: calc(100vh - 100px);
    height: 100vh;
  }
}

.container {
  padding: 3rem 0;
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
 
}

.testi {
  max-width: 1200px;
  margin: 0;
  // padding: 0;

  .head {
    text-align: center;
    margin-bottom: 20px;
    padding: 25px 3px 30px;

    .head-h3 {
      font-size: 34px;
      font-weight: 800;
      color: $primary-color;

      @include mobile{
        font-size: 29px;
      }
    }

    .head-p{
      font-size: 18px;
      color: black;
      font-weight: 400; 
      padding: 19px;
    }
  }
}

.testiwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0;

  .thumbnail, .thumbnail2 {
    width: 150px;
    height: 150px;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      z-index: 2;
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100%);
      height: calc(100%);
      background-color: $primary-color;
      border-radius: 33% 67% 34% 45% / 60% 34% 56% 40%;
      z-index: 1;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

  .thumbnail2::before {
    border-radius: 45% 34% 67% 33% / 40% 56% 34% 60%;
  }

  .aside {
    position: relative;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    background-color: white;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(170, 170, 170, 0.25);
    // padding: 30px 20px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    overflow: hidden;
    width:300px; // Ensure two cards fit per row, accounting for the gap
    height: 250px;
    margin-right:75px;

    @include mobile {
      padding: 40px 20px  0px;
    }

    p {
      position: relative;
      font-size: 14px;
      line-height: normal;
      margin-bottom: 10px;
      text-align: left;
      color: rgb(0, 0, 0);
      line-height: 22px;
      &::before,
      &::after {
        font-family: serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 1;
        position: absolute;
        color: $light-color;
        height: 20px;
        z-index: 1;
      }

      &::before {
        content: open-quote;
        top: -25px;
        // left: px;
      }

      &::after {
        content: close-quote;
        right: 0;
      }
    }

    .name {
      position: relative;
      width: fit-content;
      line-height: 1;

      h4 {
        font-size: 16px;
        font-weight: 800;
        color: $primary-color;
        opacity: 0.8;
      }

      p {
        font-size: 12px;
        text-align: right;
        color: $light-color;
      }

      p::before,
      p::after,
      h4::before,
      h4::after {
        content: none;
      }
    }
  }
}

@media (max-width: 500px) {
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 150px;
    height: 150px;
    border-radius: 2rem;
    object-fit: cover;
  }
}

.swiper-slide img {
  width: 150px;
  height: 150px;
  border-radius: 2rem;
  object-fit: cover;
}

// .icon-arrow {
//   color: aqua;
//   font-size: 50px;
// }

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 65px;

  .swiper-button-next,
  .swiper-button-prev {
    // background: $primary-color;
    // width: 3.5rem;
    // height: 3.5rem;
    // border-radius: 50%;
    // filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));

    .icon{
      font-size: 30px;
      color:$primary-color;
    }
    ion-icon {
      font-size: 2rem;
      color: #888888;
    }

    &::after {
      content: '';
    }

    @include mobile {
      display: none;
    }
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }

  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 75% !important;
    transform: translateX(-80%) !important;
  }

  .slider-controler .swiper-button-prev {
    left: 5% !important;
    transform: translateX(-20%) !important;
  }
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
  padding-right: 40px;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 6px; // Adjust the size as needed
  height: 6px; // Adjust the size as needed
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: $primary-color;
  width: 7px; // Adjust the active bullet size as needed
  height: 7px; // Adjust the active bullet size as needed
}